$breakpoint: 768px;
$mobile-devices: "only screen and (max-width: #{$breakpoint - 1})";
$desktop-devices: "only screen and (min-width: #{$breakpoint})";
$color-primary-fill: #520044;
$color-primary: #fff;
$color-secondary-fill: #fff;
$color-secondary: #291927;
$color-text: #000;
$color-link: #520044;
$color-middle-gray: #595458;
$font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
