@import './consts.scss';

.container {
    border: 1px solid $color-secondary;
    color: $color-secondary;
    font-size: 12px;
    margin-top: 24px;
}

.header {
    background: $color-secondary;
    color: $color-secondary-fill;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 12px;
}

.example {
    padding: 12px;
    line-height: 16px;
    white-space: pre-line;
}
