$breakpoint: 768px;
$mobile-devices: "only screen and (max-width: #{$breakpoint - 1})";
$desktop-devices: "only screen and (min-width: #{$breakpoint})";
$color-primary: #00acac;
$color-text: #002a32;
