@import "./consts.scss";

.dialog {
    position: absolute;

    @media #{$mobile-devices} {
        height: calc(100vh - 55px);
        top: 55px;
        width: 100vw;
    }

    @media #{$desktop-devices} {
        height: 600px;
        max-height: 90vh;
        top: 50%;
        transform: translateY(-50%);
        max-width: 768px;
    }
}

.content {
    padding: 10px;
    overflow-y: auto;
}

.heading {
    color: #002a32;
    font-size: 16px;
    font-weight: 500;
}

.preferencesHeading {
    margin: 20px auto;
    text-align: center;
}

.preferencesDescription {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}

.preferencesSubheading {
    margin: 0 0 10px;
}
