.section {
    border-top: 1px solid #5f7a7b;
    padding: 20px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.heading {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.sectionExpand {
    color: #7f9998;
    cursor: pointer;
    font-size: 12px;
    margin-top: 14px;
}

.description {
    font-size: 10px;
    line-height: 1.6;
    margin-top: 24px;
}
