.section {
    border-top: 1px solid #5f7a7b;
    padding: 20px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.heading {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
