@import "./consts.scss";

.withTrackingOptInDialogShown {
    overflow: hidden;
}

.overlay {
    align-items: flex-end;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    color: $color-text;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.dialog {
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    font-family: $font-family !important;
}

.background {
    position: absolute;
}

.footer {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(195, 195, 195, 0.5);
    box-sizing: border-box;
    height: 60px;
    padding: 12px 27px;
    text-align: center;

    @media #{$desktop-devices} {
        text-align: right;
    }
}

.footerButton {
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    outline: none;
    padding: 11px 18px;
    text-transform: uppercase;

    &:first-child {
        margin-right: 18px;
    }
}

.acceptButton,
.saveButton {
    background-color: #00cdd0;
    border: 1px solid #fff;
    color: #0e191a;
}

.learnMoreButton,
.backButton {
    background-color: #fff;
    border: 1px solid $color-dark-gray;
    color: $color-dark-gray;
}

.link {
    color: $color-link !important;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.chevron {
    fill: $color-middle-gray;
    height: 12px;
    margin-bottom: -2px;
    margin-left: 10px;
    width: 12px;
}

.chevronExpanded {
    transform: rotate(180deg);
}
