$breakpoint: 768px;
$mobile-devices: "only screen and (max-width: #{$breakpoint - 1})";
$desktop-devices: "only screen and (min-width: #{$breakpoint})";

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 20px;

  @media #{$mobile-devices} {
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 500px;
    width: 90%;
  }

  @media #{$desktop-devices} {
    height: 600px;
    width: 650px;
    max-height: 90vh;
    overflow-y: auto;
  }
}

.background {
  position: absolute;
}

.logo {
  height: 50px;
  width: 150px;
  margin: auto;

  @media #{$desktop-devices} {
    margin-top: 40px;
    width: 250px;
  }
}

.usesCookiesText {
  color: #002a32;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.content {
  line-height: 1.43;
  margin-bottom: 20px;
  text-align: center;

  @media #{$mobile-devices} {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    overflow-y: auto;
  }

  @media #{$desktop-devices} {
    line-height: 1.57;
    margin: 30px auto;
    max-width: 650px;
  }

  p {
    font-size: 14px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  @media #{$desktop-devices} {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

.buttonPrimary {
  background-color: #00acac;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 18px;

  &:hover {
    cursor: pointer;
  }

  @media #{$mobile-devices} {
    margin-bottom: 15px;
  }

  @media #{$desktop-devices} {
    margin-right: 20px;
  }
}

.buttonSecondary {
  border-radius: 3px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 18px;

  &:hover {
    cursor: pointer;
  }
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  @media #{$desktop-devices} {
    margin-top: 57px;
  }

  a {
    color: #002a32;
    display: block;
    font-size: 10px;
    padding-right: 10px;
  }
}
