@import "./consts.scss";

.withTrackingOptInDialogShown {
  overflow: hidden;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  color: $color-text;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 10px 10px;
  border-bottom: 10px solid #fff;
  border-top: 10px solid #fff;

  @media #{$mobile-devices} {
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 85vh;
    width: 90%;
  }

  @media #{$desktop-devices} {
    height: 600px;
    width: 650px;
    max-height: 90vh;
    overflow-y: auto;
  }
}

.background {
  position: absolute;
}

.logo {
  height: 50px;
  width: 150px;
  margin: auto;

  @media #{$desktop-devices} {
    margin-top: 40px;
    width: 250px;
  }
}

.usesCookiesText {
  color: $color-text;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.content {
  line-height: 1.43 !important;
  margin-bottom: 20px;
  text-align: center;
  overflow-y: auto;

  @media #{$mobile-devices} {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media #{$desktop-devices} {
    line-height: 1.57;
    margin: 30px auto;
    max-width: 650px;
    padding-left: 45px;
    padding-right: 45px;
  }

  p {
    font-size: 14px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  @media #{$desktop-devices} {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

.buttonPrimary {
  background-color: $color-primary;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 12px 18px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  @media #{$mobile-devices} {
    margin-bottom: 15px;
  }

  @media #{$desktop-devices} {
    margin-right: 20px;
  }
}

.buttonSecondary {
  border-radius: 3px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 12px 18px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  @media #{$desktop-devices} {
    margin-top: 57px;
  }

  a {
    color: $color-text;
    display: block;
    font-size: 10px;
    padding-right: 10px;
  }
}

.bodyParagraphsContainer {
  p {
    margin-top: 14px;
    margin-bottom: 14px;
    line-height: 1.57;
  }

  p:last-of-type {
    margin-bottom: 0; // save some space to prevent scroll bars
  }
}
